.products-filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3.6rem;
}

.products-line {
  position: relative;
}

.products-line::before {
  content: '';
  width: 1px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: var(--text-color-light);
}

.products-item {
  cursor: pointer;
}

.products-title {
  color: var(--text-color);
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.products-stock {
  font-size: var(--small-font-size);
}

.products-content {
  grid-template-columns: 200px;
  justify-content: center;
}

.products-card {
  background-color: var(--container-color);
  border-radius: .5rem;
}

.products-img {
  width: 150px;
  transition: .4s;
}

.products-shape {
  background-color: var(--card-color);
  border-radius: .5rem .5rem 0 0;
  text-align: center;
  padding: .25rem;
}

.products-data {
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}

.products-price {
  font-size: var(--h2-font-size);
}

.products-name {
  font-size: var(--normal-font-size);
}

.products-button {
  border-radius: 50%;
  padding: .625rem;
  display: inline-flex;
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
  box-shadow: 0 4px 12px hsla(206, 4%, 4%, .2);
}

.products-card:hover .products-img {
  transform: translateY(-.25rem);
}

/* Active link products */
.active-product .products-title {
  color: var(--title-color);
}